DATABASE_URL="postgresql://USUARIO:PASSWORD@HOST:PUERTO/DATABASE"
JWT_SECRET="tu_secreto_super_seguro"
PORT=4000
API_KEY=tu_cloudinary_api_key
API_SECRET=tu_cloudinary_api_secret
CLOUD_NAME=tu_cloudinary_cloud_name
